<div id="details">
    
<h2>{{head}}</h2>
    <table>
<tr>
    <td><label>Company Name </label></td><td><h3>{{detail.name}}</h3></td>
        </tr>
<tr>
    <td><label>ID </label></td><td><h3>{{detail.id}}</h3></td>
        </tr>
<tr>
    <td><label>Title </label></td><td><h3>{{detail.title}}</h3></td>
        </tr>
<tr>
    <td><label>Cost </label></td><td><h3>{{detail.cost}}</h3></td>
        </tr>
<tr>
    <td><label>Buy Limit </label></td><td><h3>{{detail.buylimit}}</h3></td>
        </tr>
<tr>
    <td><label>Stock Left</label></td><td><h3>{{detail.stockleft}}</h3></td>
        </tr>
<tr>
    <td><label>Summary </label></td><td><p>{{detail.summary}}<p></td>
        </tr>
    </table>
        </div>